<!--구매자페이지 첫번째 페이지-->


<body>
    
<div class="background">
    
<!--***헤더부분***-->

    <div class="header">
        <div class="my_page">
            <% if user_signed_in? %>
                <%= current_user.email %> 님 안녕하세요!
                <a href="/users/sign_out" data-method="delete">로그아웃</a>
               
            <% else %>
                <a href="/users/sign_in">로그인</a>
            <% end %>
        </div>
        <div class="logo">
            화(花)요일
        </div>
        <div class="page_name">
            구매자 페이지
        </div>
        <div class="main_page">
            <!--메인페이지 링크 나중에 삽입-->
            메인페이지로
        </div>
        <div class="login_logout">
            <% if user_signed_in? %>
                <a href="/users/sign_out" data-method="delete">로그아웃</a>
            <% else %>
                <a href="/users/sign_in">로그인/회원가입</a>
            <% end %>    
        </div>
    </div>

<!--***컨텐츠부분***-->

<div class="container">
<div class="content">
    <!--스토어 카드-->

<% @sellers.each do |seller| %>
<div class="card">
        <div class="store_name">
            <a href="/blooming_days/<%= seller.id %>/show"><%= seller.name %></a>
        </div>
        <div class="location">
            <%= seller.region %>
        </div>
        <div class="type">
            <%= seller.sort %>
        </div>
    <% if seller.img.attached? %>
    <a href="/blooming_days/<%= seller.id %>/show"><img class ="store_photo" src="<%= url_for(seller.img) %>"/> </a><br>
    <% end %>
    </div>
<% end %>


</div>
</div>

</body>    
</html>
